.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    box-shadow: none;
    &--green {
        background: $green;
        color: white;
        box-shadow: none;
    }
    &--pink {
        background: $pink;
        color: white;
        box-shadow: none;
    }
}