$bg: #050213;
$gold: #D3A736;
$yellow: #ffd700;
$font: $bg;
$beige: #f6efad;
$blue--light: #70A7FF;
$blue: #084fe9;
$blue-dark: #17318e;
$purple: #AE68B6;
$green: #028843;
$pink: #E36367;

$link: $pink;
$link--hover: $green;
$link--active: $bg;